body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

.dd {
	position: relative;
	float: right;	
}

.table {
    border-collapse: collapse;
}

.table, th, td {
    border: 1px solid black;
}